<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/common :: head('게시판')">
  
  </head> 

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('board')">
        
    </nav>
    
    <div class="container">
        <h2>게시판</h2>
        <!-- boards.getTotalElements() 메서드를 thymeleaf에서 호출 -->
        <!-- 'get'을 제거하여 boards.totalElements으로 호출 시 타임리프가 알아서 호출해준다.  -->
        <div>총 건수 : <span th:text="${boards.totalElements}"></span></div>
        
        <!-- 검색form -->
        <!-- form 태그이므로 알아서 param 전달 -->
        <form class="form-inline d-flex justify-content-end" method="GET" th:action="@{/board/list}">
          <div class="form-group mx-sm-3 mb-2">
            <label for="searchText" class="sr-only">검색</label>
            <input type="text" class="form-control" id="searchText" name="searchText" th:value="${param.searchText}">
          </div>
          <!-- class btn-primary에서 btn-light으로 변경 -->
          <button type="submit" class="btn btn-light mb-2">검색</button>
        </form>

        <table class="table">
          <thead>
            <tr>
              <th>번호</th>
              <th>제목</th>
              <th>작성자</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="board : ${boards}">
              <td th:text="${board.id}">제목</td>
              
              <!-- 해당 td안에 있던 th:text가 <a>를 통해 묻힐 수 있기 때문에 <a>태그 안으로 넣고 -->
              <!-- th:href를 통해 해당 text 클릭시 해당 객체의 id파라미터를 전달하면서 url로 이동 -->
              <td ><a th:text="${board.title}" th:href="@{/board/form(id=${board.id})}">Hello World</a></td>
              <td >황영진</td>
            </tr>
          </tbody>
        </table>

        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${1==boards.pageable.pageNumber + 1 } ? 'disabled'">
              <!-- boards.pageable.pageNumber-1의 해당하는 값으로 page번호 파라미터로 넘겨준다. -->
              <a class="page-link" href="#" th:href="@{/board/list(page=${boards.pageable.pageNumber-1}, searchText=${param.searchText})}" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <!-- i는 startPage 부터 endPage 까지 증가하면서 index값을 받아 온다. -->
            <!-- boards.getPageable().getPageNumber() 메서드를 thymeleaf에서 호출 -->
            <!-- 'get'을 제거하여 boards.pageable.pageNumber 으로 호출 시 타임리프가 알아서 호출해준다. -->
            <!-- 현재 보고 있는 page와 같다면 해당 번호는 보여주지 않는다.
                 (controller에서 1부터 보여주나 page는 0부터이므로 +1) -->
            <li class="page-item" th:classappend="${i==boards.pageable.pageNumber + 1 } ? 'disabled'" th:each="i: ${#numbers.sequence(startPage, endPage)}">
              <!-- 보여주는 버튼의 i값은 page+1 값이므로 page의 값을 넘겨주는 파라미터는 i-1 해주어야한다. -->
              <a class="page-link" href="#" th:href="@{/board/list(page=${i-1},searchText=${param.searchText})}" th:text="${i}" >1</a>
            </li>
            <li class="page-item" th:classappend="${boards.totalPages==boards.pageable.pageNumber + 1 } ? 'disabled'">
              <a class="page-link" href="#" th:href="@{/board/list(page=${boards.pageable.pageNumber+1}, searchText=${param.searchText})}" >Next</a>
            </li>
          </ul>
        </nav>

        <!-- 속성 오른쪽으로 주는 class="text-right" 부트스트랩 클래스 이용 -->
        <div class="text-right">
          <a type="button" class="btn btn-primary" th:href="@{/board/form}">쓰기</a>
        </div> 
      </div> 
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>