<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)">
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link th:href="@{/starter-template.css}" rel="stylesheet">
     </head>

    <body>
    <!-- 공통화면으로 들어갈 thymeleaf -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:fragment="menu(menu)">
            <a class="navbar-brand" href="#">Spring Boot Tutorial</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>  
            <div id="navbarsExampleDefault" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" th:classappend="${menu}=='home'? 'active'">
                        <a class="nav-link" th:href="@{/}">홈</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/board/list}" th:classappend="${menu}=='board'? 'active'">게시판</a>
                </ul>
            </div><!--/.nav-collapse -->
            
        </nav>
    </body>
</html>