<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
        <title th:text="${title}">Hello, Spring Boot!</title>

        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">>

        <!-- Custom styles for this template -->
        <link th:href="@{/starter-template.css}" rel="stylesheet">
     </head>

    <body>
    <!-- 공통화면으로 들어갈 thymeleaf -->
        <nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="menu(menu)">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Spring Boot Tutorial</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active" th:classappend="${menu}=='home'? 'active'">
                            <a th:href="@{/}">홈</a>
                        </li>
                        <li>
                            <a th:href="@{/board/list}" th:classappend="${menu}=='board'? 'active'">게시판</a>
                        </li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </body>
  
</html>